
/* ----- TABLA CARRITO EN MODAL ----- */
/* Modal */
.modal {
  display: active; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* fondo oscuro */
  justify-content: center;
  align-items: center;
}

/* Contenedor del contenido del modal */
.modal-content {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 450px;
  border-radius: 10px;
  animation: aparecer 0.2s ease-out;
}

/* Botón cerrar (la X) */
.btn-cerrar {
  float: right;
  cursor: pointer;
  font-size: 22px;
}

/* Tabla */
.tabla-carrito {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-collapse: collapse;
}

.tabla-carrito th, .tabla-carrito td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

@keyframes aparecer {
  from { transform: scale(0.9); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}
 
.btn-continuar {
  margin-top: 15px;
  padding: 10px 20px;
  width: 100%;
  background-color: #0087f5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-continuar:hover {
  background-color: #006ac2;
}