/*  FORMULARIO CONTACTO */
.ventanaDeProductos {
  max-height: 600px;
}
.main-contacto {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.formulario-contacto {
  max-width: 1200px;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 25px;
}

.formulario-contacto h2 {
  margin-bottom: 10px;
  color: #005bb5;
  text-align: center;
  font-size: 28px;
}

.formulario-contacto p {
  margin-bottom: 25px;
  color: #333;
  text-align: center;
  font-size: 16px;
}

.grupo-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 18px;
}

.grupo-input label {
  font-weight: bold;
  margin-bottom: 6px;
  color: #005bb5;
}

.grupo-input input,
.grupo-input textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 0.95rem;
  width: 100%;
  background: #f8f8f8;
}

.grupo-input input:focus,
.grupo-input textarea:focus {
  border-color: #0087f5;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 135, 245, 0.5);
}

.btn-enviar {
  display: block;
  margin: 10px auto 0 auto;
  background: #0087f5;
  color: #fff;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background .2s, transform .2s;
}

.btn-enviar:hover {
  background: #005bb5;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .formulario-contacto {
    padding: 15px;
  }

  .formulario-contacto h2 {
    font-size: 24px;
  }

  .formulario-contacto p {
    font-size: 14px;
  }
}

footer{
 min-height: 200px;
}


html, body {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
}


footer {
    margin-top: auto;
    width: 100%;
}

.contenedor {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
    min-height: auto;
    display: block;          
    height: auto;            
}
