/* Contenedor del mapa */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.mapa-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
}

main{
    min-height: 0vh;   ;
}
footer{
 min-height: 200px;
}
.contenedor-sucursal {
  max-width: 1200px;
  height: auto;
  width: 100%;
  justify-self: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}