/* Contenedor del mapa */

.mapa-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
}

.contenedor-sucursal {
  max-width: 1200px;
  
  width: 100%;
  justify-self: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}


main.contenedor {
    padding: 20px;
    min-height: auto !important;   
    display: block !important;      
    background-color: #ebebeb;      
}


.contenedor-sucursal {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.mapa-container iframe {
    width: 100%;
    height: 450px;
    border: 0;
    display: block;
}


html, body {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
}


main.contenedor {
    flex: 1;
    margin-bottom: 0;
}

footer {
    margin-top: auto;          
    width: 100%;
}
